.boton-jugar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3e3d6;
    border-radius: 50px;
    width: 160px;
    height: 50px;
    color: black;
}


@media only screen and (min-width: 768px) {
    .boton-jugar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        border-radius: 50px;
        width: 160px;
        height: 50px;
        margin-top: 2em;
        margin-left: 5em;
        transition: all .1s ease-in-out;
    }
    
    .boton-jugar:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}