.galeria {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: white;
}

.galeria-text {
    width: 90vw;
    font-size: small;
    margin-bottom: 3em;
}

.galeria-title {
    font-size: 48px;
}

.galeria-sub-title {
    margin-top: -0.5em;
    margin-left: 2em;
    font-variant: small-caps;
    font-size: 10px;
}

.galeria-text-content {
    margin-top: -0.5em;
    text-align: justify;
    font-size: 12px;
    line-height: 12pt;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -15px; /* gutter size offset */
    width: auto;
    justify-content: center;
}

.my-masonry-grid_column {
    padding-left: 15px; /* gutter size */
    background-clip: padding-box;
}
  
  /* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 10px;
    border-radius: 15px;
}

.customClass-0 {
    object-fit: contain;
    width: 100%;
    height: 350px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0em;
}

.customClass-1 {
    object-fit: contain;
    width: 100%;
    height: 300px;
}


.customClass-2 {
    object-fit: contain;
    width: 100%;
    height: 250px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 1em;
}

.customClass-3 {
    object-fit: contain;
    width: 100%;
    height: 220px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.customClass-4 {
    object-fit: contain;
    width: 100%;
    height: 350px;
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-bottom: 1em;
}

.customClass-5 {
    object-fit: contain;
    width: 100%;
    height: 300px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.customClass-6 {
    object-fit: contain;
    width: 100%;
    height: 350px;
    transition: all .1s ease-in-out;
}

.customClass-7 {
    object-fit: contain;
    height: 275px;
}

.customClass-8 {
    position: absolute;
    height: 34%;
    top: 119em;
    right: 1.2em;
}

.monstruo-galeria-nombre {
    margin: 0;
    padding: 0;
}

.galeria-item-texto {
    margin-top: 0.5em;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 10px;
}

.galeria-item-header {
    color: black;
    margin-bottom: -0.1em;
}

.desk {
    display: none;
}

@media only screen and (min-width: 768px) {
    .galeria {
        padding-left: 10em;
        padding-right: 10em;
        padding-bottom: 5em;
        padding-top: 0em;
    }
    
    .galeria-text {
        font-size: large;
        width: 61vw;
        margin-bottom: 3em;
        margin-top: 2em;
    }

    .galeria-title {
        font-size: 96px;
    }
    
    .galeria-sub-title {
        margin-top: -1.5em;
        margin-left: 0em;
        font-variant: small-caps;
        font-size: 24px;
    }
    
    .galeria-text-content {
        margin-top: 0em;
        text-align: left;
        font-size: 28px;
        line-height: 1;
    }
    
    .my-masonry-grid {
        display: -webkit-box; /* Not needed if autoprefixing */
        display: -ms-flexbox; /* Not needed if autoprefixing */
        display: flex;
        margin-left: -30px; /* gutter size offset */
        width: auto;
        justify-content: center;
    }
    
    .my-masonry-grid_column {
        padding-left: 30px; /* gutter size */
        background-clip: padding-box;
    }
      
      /* Style your items */
    .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
        margin-bottom: 30px;
        border-radius: 30px;
    }
    
    .img-monstruo {
        width: 100%;
    }

    .galeria-item-texto {
        display: none;
    }

    .Parent:hover > img {
        display: block;
        border-radius: 30px;
        background-color: rgb(134, 134, 134);
        -webkit-filter: brightness(25%);
        transform: scale(1.01);
        cursor: pointer;
    }

    .customClass-8 {
        width: 100%;
        position: static;
        height: 100%;
    }

    .movil {
        display: none;
    }

    .Parent {
        position: relative;
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .Parent:hover > .overlay {
        opacity: 1;
    }

    .overlay{
        opacity: 0;
        position: absolute;
        color: white;
    }
    
    img {
        display: block;
    }

    .overlay > span {
        color: white;
    }

    .overlay > h1 {
        font-size: 5em;
        font-family: 'Moonlight';
        color: white;
        margin-bottom: 0;
    }

    
}