.header {
    background-color: rgb(250, 211, 126);
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 5em;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.ojo {
    margin-right: 2em;
    margin-top: 1em;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-content-text {
    width: 40vw;
}

.header-content-monstruo {
    position: absolute;
    right: 10em;
    top: 10em;
}