.moonlight {
    font-family: 'Moonlight';
    line-height: 0.9;
    color: #fff;
    font-size: xx-large;
}

.header-text {
    position: relative;
    font-size: 52px;
    margin-bottom: 0;
    margin-top: 0.5em;
    z-index: 99;
}

.header-text-subtitle {
    text-align: left;
    line-height: 14.4px;
}

.header {
    background-color: #F6C67A;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
}

.header-logo {
    margin-top: -2em;
    height: 75px;
}

.header-logo:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.linea-roja-header {
    position: absolute;
    width: 180px;
    top: 11.7em;
    left: 0.5em;
    z-index: 0;
}

.menu {
    display: flex;
    justify-content: flex-start;
}

.ojo {
    margin-top: 2em;
    height: 30px;
    object-fit: contain;
}

.header-content {
    display: flex;
    padding-bottom: 1em;
}

.header-content-text {
    width: 40vw;
    font-size: small;
    margin-top: 1em;
    margin-bottom: 9em;
}

.header-content-monstruo {
    position: absolute;
    right: 0em;
    top: 12em;
}

.header-content-monstruo-img {
    width: 20em;
}

.mide {
    position: absolute;
    width: 100px;
    object-fit: contain;
    top: 12em;
    right: 1em;
    transform: rotate(35deg);
}

@media only screen and (min-width: 768px) {
    .moonlight {
        font-family: 'Moonlight';
        font-size: 72px;
        width: 50vw;
        margin-bottom: 0.5em;
    }

    .header {
        padding-left: 10em;
        padding-right: 10em;
        padding-bottom: 1em;
        padding-top: 0;
    }

    .header-text {
        font-size: 120px;
    }

    .header-text-subtitle {
        font-size: 24px;
        margin-top: -3em;
        margin-left: 0.5em;
        text-align: left;
        line-height: 1;
    }

    .header-content {
        padding: 0;
    }

    .header-content-text {
       font-size: large;
       width: 20vw;
    }

    .header-content-monstruo {
        position: absolute;
        right: 3em;
        top: 7em;
    }
    .ojo {
        margin-right: 2em;
        height: 50px;
    }

    .ojo:hover {
        cursor: pointer;
    }

    .header-content-monstruo-img {
        position: relative;
        width: 700px;
        z-index: 99;
    }
    
    .header-logo {
        margin-top: -3em;
        height: 125px;
        transition: all .1s ease-in-out;
    }

    .header-logo:hover {
        transform: scale(1.01);
        cursor: pointer;
    }

    .mide {
        position: absolute;
        width: 150px;
        object-fit: contain;
        top: 5em;
        left: 7em;
    }

    .linea-roja-header {
        position: absolute;
        width: 340px;
        top: 15em;
        left: 8.5em;
        z-index: 0;
    }
}