.jugar {
    background: linear-gradient(90deg, #575f58 50%, #f6c67a 50%);
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    min-height: 30vh;
    position: relative;
}

.jugar-der {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.jugar-izq {
    -webkit-filter: brightness(25%);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.jugar-izq-title {
    font-size: 24px;
    text-align: center;
}

.jugar-der-title {
    font-size: 24px;
    text-align: center;
    color: black;
}

.jugar-izq-texto {
    width: 35vw;
    font-size: 10px;
    text-align: center;
}

.jugar-der-texto {
    margin-top: -5px;
    line-height: 1;
    width: 35vw;
    font-size: 10px;
    text-align: center;
}

.jugar-der-texto-title {
    margin-top: -1em;
    line-height: 1;
    width: 35vw;
    font-size: 9px;
    text-align: center;
}

.jugar-der-texto > span {
    margin-left: 5px;
    font-size: 28px;
}

.persona1 {
    height: 75px;
}

.persona2 {
    margin-top: -1em;
    height: 87px;
}

.naranja {
    margin-top: 1em;
    margin-left: 1.8em;
    font-size: 14px;
    width: 75px;
    height: 40px;
    background-color: #f6c67a;
}

.azul {
    margin-top: 1em;
    margin-left: 1.8em;
    font-size: 14px;
    width: 75px;
    height: 40px;
}

.parentesis {
    font-size: 7.5px;
}

.persona1Desk {
    display: none;
}

.persona2Desk {
    display: none;
}

.proximamente {
    width: 10em;
    position: absolute;
    top: 5em;
    left: 1em;
}

@media only screen and (min-width: 768px) {
    .jugar {
        background: linear-gradient(100deg, #575f58 50%, #f6c67a 50%);
        padding-left: 10em;
        padding-right: 10em;
        padding-bottom: 5em;
        display: flex;
        justify-content: space-between;
        min-height: 75vh;
        position: relative;
    }
    
    .jugar-izq {
        -webkit-filter: brightness(25%);
        display: flex;
        flex-direction: column;
        width: 50vw;
        justify-content: center;
        align-content: center;
    }

    .jugar-izq-texto {
        margin-top: -1.5em;
        margin-left: -3em;
        font-family: 'Avenir';
        font-size: 21px;
        text-align: center;
        line-height: 1;
    }

    .jugar-izq-title {
        margin-top: 0.1em;
        margin-left: -2.5em;
        font-size: 72px;
        text-align: center;
    }

    .jugar-der {
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        width: 50vw;
        justify-content: center;
        align-content: center;  
    }

    .jugar-der-title {
        margin-top: -0.7em;
        font-size: 72px;
        text-align: center;
    }
    
    .jugar-der-texto-title {
        margin-top: -1.5em;
        margin-left: 4em;
        width: 35vw;
        font-size: 24px;
        text-align: center;
    }

    .jugar-der-texto {
        margin-left: 4.5em;
        margin-top: -0.5em;
        font-family: 'Avenir';
        font-size: 22px;
        font-weight: normal;
        text-align: center;
    }
    
    .jugar-der-texto > span {
        margin-left: 5px;
        font-size: 56px;
    }

    .persona1 {
        display: none;
    }
    
    .persona2 {
        display: none;
    }

    .naranja {
        margin-left: 7em;
        background-color: #f6c67a;
        width: 125px;
    }
    
    .azul {
        margin-left: 20em;
        width: 125px;
    }

    .parentesis {
        font-size: 0.7em;
    }

    .persona1Desk {
        display: block;
        width: 10em;
        margin-left: 5em;
    }

    .persona2Desk {
        display: block;
        width: 15em;
        margin-left: 14em;
    }

    .proximamente {
        width: 25em;
        position: absolute;
        top: 10em;
        left: 9em;
    }
}