.jugar {
    background: linear-gradient(110deg, #9bc7f0 50%, #ecc797 50%);
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 5em;
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
    min-height: 75vh;
}

.jugar-izq {
    width: 25vw;
    font-weight: bold;
}

.persona1 {
    position: absolute;
    margin-top: 3em;
    margin-left: -3em;
}

.persona2 {
    margin-top: 3em;
    margin-right: 5em;
}