.jugar {
    background: linear-gradient(90deg, #d3e3d6 50%, #f6c67a 50%);
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    min-height: 30vh;
}

.jugar-der {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.jugar-izq {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.jugar-izq-title {
    font-size: 24px;
    text-align: center;
}

.jugar-der-title {
    font-size: 24px;
    text-align: center;
    color: black;
}

.jugar-izq-texto {
    width: 35vw;
    font-size: 10px;
    text-align: center;
}

.jugar-der-texto {
    margin-top: -5px;
    line-height: 1;
    width: 35vw;
    font-size: 10px;
    text-align: center;
}

.jugar-der-texto-title {
    line-height: 1;
    width: 35vw;
    font-size: 9px;
    text-align: center;
}

.jugar-der-texto > span {
    margin-left: 5px;
    font-size: 28px;
}

.persona1 {
    height: 75px;
}

.persona2 {
    height: 87px;
}

@media only screen and (min-width: 768px) {
    .jugar {
        background: linear-gradient(110deg, #d3e3d6 50%, #f6c67a 50%);
        padding-left: 10em;
        padding-right: 10em;
        padding-bottom: 5em;
        padding-top: 2em;
        display: flex;
        justify-content: space-between;
        min-height: 75vh;
    }
    
    .jugar-izq {
        width: 25vw;
        font-weight: bold;
        font-size: larger;
    }

    .jugar-izq-texto {
        font-family: 'Avenir-Black';
        font-size: 24px;
    }
    
    .persona1 {
        position: absolute;
        margin-top: 3em;
        margin-left: -3em;
    }
    
    .persona2 {
        margin-top: 2em;  
    }
}