

.lorem {
    width: 40vw;
}

.main-title {
    font-size: 72px;
    width: 40vw;
    text-align: center;
}

.elegir-monstruo {
    margin-bottom: 2em;
    font-size: 36px;
    background-color: rgb(19, 51, 51);
    padding: 1em;
    border-radius: 10px;
}