span, p, h6 {
    font-family: 'Avenir';
}

.lorem {
    width: 40vw;
}

.main-logo {
    height: 300px;
    width: 300px;
}

.main-title {
    font-size: 72px;
    width: 40vw;
    text-align: center;
}

.elegir-monstruo {
    margin-bottom: 2em;
    font-size: 36px;
    background-color: rgb(5, 4, 39);
    padding: 1em;
    border-radius: 10px;
}
