
.main {
    margin-top: 2em;
    margin-left: 22%;
    width: 50vw;
    margin-bottom: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.monstruo {
    border-radius: 4px;
    padding: 1em;
    background-color: rgb(119, 119, 119);
    opacity: 0.75;
    transition: all .2s ease-in-out;
}

.monstruo:hover {
    cursor: pointer;
    opacity: 1;
    background-color: rgb(211, 211, 211);
    transform: scale(1.05);
}

.col-lg-4, .col-md-3, .col-xs-6{
    margin-top: 30px !important;
}

.monstruo-img {
    width: 200px;
    height: 200px;
}