.modal-galeria {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    z-index: 99;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.modal-galeria-content {
    padding-top: 1em;
    text-align: center;
    color: white;
}

.modal-cerrar {
    width: 30px;
    position: absolute;
    right: 1em;
    top: 1em;
}

.modal-title {
    font-family: 'Moonlight';
    font-size: 56px;
}

.modal-youtube {
    margin-top: 1em;
    width: 90vw;
}

.modal-frase {
    margin-top: 1em;
}

.info {
    margin-top: 2em;
    width: 97vw;
    padding-bottom: 1em;
}

.modal-slideshow {
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.modal-slideshow-desktop {
    display: none;
}

@media only screen and (min-width: 768px) {
    .modal-title {
        font-family: 'Moonlight';

    }

    .modal-galeria {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.9);
        z-index: 99;
        display: flex;
        overflow: scroll;
    }
    .modal-youtube {
        min-height: 90vh;
    }

    .modal-frase {
        margin-top: 1em;
        font-size: 24px;
        width: 75vw;
    }

    
    .info {
        margin-top: 2em;
        width: 95vw;
        padding-bottom: 1em;
    }
    
    .modal-slideshow {
        display: none;
    }

    .modal-slideshow-desktop {
        display: block;
        margin-top: 1em;
        margin-left: 25%;
        padding-bottom: 1em;
    }
}