.tinder-instructions {
    background-color: #D3E3D6;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tinder-instructions-text {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tinder-instructions-content {
    text-align: center;
}

.tinder-instructions-img {
    margin-top: 2.5em;
    margin-bottom: 1.5em;
    width: 23em;
}

.tinder-instructions-moonlight {
    font-family: 'Moonlight';
    font-size: 3em;
}

.tinder-instructions-title {
    margin-top: -1em;
}

.bloque-naranja-span {
    background-color: #F6C67B;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.bloque-naranja {
    background-color: #F6C67B;
    margin-top: 1.5em;
    font-size: 1em;
    width: 100vw;
    height: auto;
    text-align: justify;
    text-align-last: left;
    padding-bottom: 4em;
}

.bloque-naranja > p {
    line-height: 1;
    margin-top: 2em;
    margin-left: 3em;
    width: 70vw;
}