.tinder-monster-card {
    height: 100vh;
    width: 100vw;
    font-size: smaller;
    position: relative;
}

.tinder-monster-card-upper {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 65vh;
    background-color: #ebbdb1;
}

.tinder-monster-card-lower {
    width: 100vw;
    display: flex;
    height: 35vh;
}

.tinder-monster-img {
    margin-top: -3em;
    height: 12em;
}

.tinder-monster-pregunta {
    font-size: 0.9em;
    margin-top: 1em;
    margin-left: 3em;
    margin-bottom: 1em;
    width: 100vw;
}

.text-ellipse {
    display: flex;
    align-items: center;
    position: absolute;
    top: 22em;
    border-radius: 100px;
    background-color: white;
    width: 90vw;
    height: 45vw;
    box-shadow: -15px 10px 0px -2px rgba(228, 228, 228, 0.75);
}

.square-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c8ddcf;
    padding: 2em;
}

.square-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3c17b;
    padding: 2em;
}

.tinder-number {
    width: 100px;
    position: absolute;
    top: 5em;
}

.tinder-number-text {
    font-size: 3em;
    font-weight: bold;
    position: relative;
    top: 1.9em;
    color: white;
}

.right-arrow {
    width: 75px;
    margin-bottom: 2em;
}

.left-arrow {
    width: 75px;
    margin-bottom: 2em;
}


@media only screen and (max-width: 375px) {
    .tinder-monster-card {
        font-size: 12px;
        overflow: hidden;
    }

    .tinder-monster-img {
        height: 12em;
        object-fit: contain;
    }

    .text-ellipse {
        padding: 1em;
        display: flex;
        align-items: center;
        position: absolute;
        top: 15em;
        border-radius: 100px;
        background-color: white;
        width: 90vw;
        height: auto;
        box-shadow: -15px 10px 0px -2px rgba(181,181,181,0.75);
    }

    .tinder-number {
        height: 5em;
        top: 2em;
    }

    .tinder-number-text {
        font-size: 2em;
        font-weight: bold;
        position: relative;
        top: 1.2em;
        color: white;
    }

    .tinder-monster-pregunta {
        width: auto;
    }

    .tinder-monster-card-upper {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 61vh;
        background-color: #ebbdb1;
    }
    
    .tinder-monster-card-lower {
        width: 100vw;
        display: flex;
        height: 39vh;
    }
}


/* */
@media only screen and (min-width: 768px) {
    .tinder-monster-card {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 50%;
        height: 95vh;
        width: 50vw;
        font-size: smaller;
        border-radius: 10px;
        background-color: #ebbdb1;
    }
    
    .tinder-monster-card-upper {
        display: block;
        background-color: transparent;
    }
    
    .tinder-monster-card-lower {
        display: block;
    }

    .tinder-monster-img {
        margin-left: 5em;
        margin-top: -5em;
        height: 200px;
        object-fit: contain;
    }
    
    .tinder-monster-pregunta {
        margin-top: 1em;
        width: auto;
    }
    
    .text-ellipse {
        padding: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10em;
        left: 5em;
        border-radius: 100px;
        background-color: white;
        width: 40vw;
        height: auto;
        box-shadow: -15px 10px 0px -2px rgba(181,181,181,0.75);
    }
    
    .square-1 {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0%;
        margin-bottom: 0em;
        border-bottom-left-radius: 10px;
        height: 30vh;
        width: 25vw;
        padding: 2em;
        
    }
    
    .square-2 {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0%;
        margin-bottom: 0em;
        border-bottom-right-radius: 10px;
        height: 30vh;
        width: 25vw;
        padding: 2em;
    }

    .tinder-number {
        width: 50px;
        position: absolute;
        top: 2em;
        left: 3em;
    }

    .tinder-number-text {
        font-size: large;
        font-weight: bold;
        position: absolute;
        top: 1.9em;
        left: 3.3em;
    }

    .right-arrow {
        width: 75px;
        margin-bottom: 2em;
    }

    .left-arrow {
        width: 75px;
        margin-bottom: 2em;
    }
}