.swipe {
    position: absolute;
    margin: 0;
}

.left {
    width: 15vw;
    margin-right: 10vw;
}

.right {
    width: 15vw;
}

.boton-izq {
    position: absolute;
    cursor: pointer;
    bottom: 2em;
    left: 3.7em;
}

.boton-der {
    position: absolute;
    cursor: pointer;
    bottom: 2em;
    right: 3.7em;
}

/* iphone SE */
@media only screen and (max-width: 375px) {
    .left {
        width: 15vw;
        margin-right: 10vw;
    }
    
    .right {
        width: 15vw;
    }
    
    .boton-izq {
        position: absolute;
        cursor: pointer;
        bottom: 1em;
        left: 3.7em;
    }
    
    .boton-der {
        position: absolute;
        cursor: pointer;
        bottom: 1em;
        right: 3.7em;
    }
}

/* desktop */
@media only screen and (min-width: 768px) {
    .tinder {
        height: 100vh;
        max-height: 100vh;
        width: 100vw;
        max-width: 100vw;
    }
    .boton-izq {
        position: absolute;
        cursor: pointer;
        top: 45%;
        left: 16%;
    }

    .boton-der {
        position: absolute;
        cursor: pointer;
        top: 45%;
        right: 16%;
    }
}