.tinder-start-screen {
    background: linear-gradient(106deg, #d3e3d6 50%, #EFC5BA 50%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tinder-start-screen-logo-container {
    display: flex;
    justify-content: center;
}

.tinder-start-screen-text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.tinder-start-screen-logo {
    object-fit: contain;
    margin-top: 1.5em;
    width: 7em;
    cursor: pointer;
}

.tinder-start-screen-moonlight {
    line-height: 1;
    font-family: 'Moonlight';
    font-size: 4em;
    color: black;
}

.tinder-start-screen-subtitle {
    font-size: 1.5em;
}

.tinder-start-screen-img-container {
    margin-top: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    height: 55vh;
}

.burbuja-corazon {
    width: 7em;
    position: absolute;
}

.tinder-start-screen-persona {
    position: absolute;
    width: 15em;
    object-fit: contain;
    top: 6em;
    left: 4em;
}

.tinder-start-screen-monstruo {
    position: absolute;
    top: 6em;
    right: 3em;
    width: 11em;
    object-fit: contain;
}

.bats {
    position: absolute;
    width: 15em;
    left: -4em;
    top: -4em;
}

.hearts {
    position: absolute;
    width: 13em;
    right: -3em;
    top: -15em;
}


@media only screen and (max-width: 376px) {
    .tinder-start-screen-subtitle {
        font-size: 1.2em;
    }

    .burbuja-corazon {
        width: 4em;
        position: absolute;
    }
    
    .tinder-start-screen-persona {
        position: absolute;
        width: 10em;
        object-fit: contain;
        top: 4em;
        left: 5em;
    }
    
    .tinder-start-screen-monstruo {
        position: absolute;
        top: 4em;
        right: 6em;
        width: 7em;
        object-fit: contain;
    }

    .tinder-start-screen-img-container {
        margin-top: 1em;
        position: relative;
        display: flex;
        justify-content: center;
        height: 45vh;
    }
}

@media only screen and (min-width: 768px) {
    .tinder-start-screen {
        background: linear-gradient(150deg, #d3e3d6 50%, #EFC5BA 50%);
        height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .tinder-start-screen-logo-container {
        display: flex;
        justify-content: start;
        width: 10em;
        padding-left: 1em;
    }

    .tinder-start-screen-text-container {
        display: flex;
        flex-direction: column;
        margin-top: -5em;
        cursor: pointer;
    }

    .tinder-start-screen-logo {
        margin-top: 1.5em;
        width: 7em;
    }
    
    .tinder-start-screen-moonlight {
        font-size: 4em;
        color: black;
    }
    
    .tinder-start-screen-subtitle {
        font-size: 1.5em;
    }
    
    .tinder-start-screen-img-container {
        margin-top: 0em;
        position: relative;
        display: flex;
        justify-content: center;
        height: 55vh;
    }
    
    .burbuja-corazon {
        width: 7em;
        position: absolute;
    }
    
    .tinder-start-screen-persona {
        position: relative;
        width: 15em;
        object-fit: contain;
        top: 6em;
        left: 4em;
    }
    
    .tinder-start-screen-monstruo {
        position: relative;
        top: 6em;
        right: 3em;
        width: 10em;
        object-fit: contain;
    }
    
    .bats {
        position: absolute;
        width: 15em;
        left: 25em;
        top: -4em;
    }
    
    .hearts {
        position: absolute;
        width: 13em;
        right: 25em;
        top: -15em;
        transform: rotate(30deg);
    }

    .start-footer {
        padding: 1em;
    }

    .start-boton-jugar {
        margin-left: 65em;
        font-weight: bold;
    }
}