.tinder-monster-card {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: pink;
    font-size: smaller;
}

.tinder-monster-img {
    margin-left: 5em;
    margin-top: -2em;
    height: 200px;
    object-fit: contain;
}

.tinder-monster-pregunta {
    margin-top: 1em;
    width: auto;
}

.text-ellipse {
    padding: 1em;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10em;
    border-radius: 100px;
    background-color: white;
    width: 85vw;
    height: 40vh;
    box-shadow: -15px 10px 0px -2px rgba(181,181,181,0.75);
}

.square-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 36vh;
    width: 50vw;
    background-color: aqua;
    padding: 2em;
}

.square-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 36vh;
    width: 50vw;
    background-color: rgb(183, 0, 255);
    padding: 2em;
}