.tinder-match {
    min-height: 100vh;
    position: relative;
}

.tinder-match-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D3E3D6;
    padding-bottom: 3em;
}

.tinder-match-img {
    margin-top: 2em;
    width: 13em;
    z-index: 1;
}

.tinder-match-heart {
    margin-top: 1em;
    width: 4em;
}

.tinder-match-texto {
    margin-top: 0;
    font-size: 1.2em;
    text-align: center;
    width: 75vw;
}

.tinder-match-title {
    margin-top: 0em;
    line-height: 1;
    font-family: 'Moonlight';
    font-size: 4em;
}

.tinder-match-title > span {
    font-family: 'Moonlight';
    color: white;
}

.tinder-match-circle {
    position: absolute;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    background-color: #EB566A;
    top: 25em;
}

.tinder-match-botones {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 2em;
}

.boton-conoce {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.5em 0.1em 0.5em 0.1em;
    width: 12em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    border: 5px solid white;
    margin-top: 1em;
}

.tinder-match-moonlight {
    font-family: 'Moonlight';
    font-size: 3em;
    line-height: 1;
}

.tinder-match-monster-name {
    font-size: 1em;
}

.tinder-match-text-bundle {
    text-align: center;
}

.tinder-match-footer {
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 3em;
}

@media only screen and (max-width: 375px) {
    .tinder-match-img {
        margin-top: 0em;
        width: 10em;
        z-index: 1;
    }
    
    .tinder-match-heart {
        margin-top: 1em;
        width: 3em;
    }
    
    .tinder-match-texto {
        margin-top: 0em;
        text-align: center;
        width: 75vw;
        font-size: 0.9em;
    }
    
    .tinder-match-title {
        line-height: 1;
        margin-top: 0em;
        font-family: 'Moonlight';
        font-size: 3em;
    }
    
    .tinder-match-title > span {
        font-family: 'Moonlight';
        color: white;
    }
    
    .tinder-match-circle {
        position: absolute;
        border-radius: 100px;
        height: 150px;
        width: 150px;
        background-color: #EB566A;
        top: 18em;
    }
    
    .tinder-match-botones {
        display: flex;
        flex-direction: column;
        margin-top: 0em;
    }
    
    .boton-conoce {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 0.5em 0.1em 0.5em 0.1em;
        width: 12em;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50px;
        border: 5px solid white;
        margin-top: 0.5em;
        font-size: 0.7em;
        height: 3em;
    }

    .tinder-match-moonlight {
        font-family: 'Moonlight';
        font-size: 2em;
        line-height: 1;
    }
    
    .tinder-match-monster-name {
        font-size: 0.9em;
    }
    
    .tinder-match-text-bundle {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .tinder-match-container {
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-left: 0em;
        padding-right: 0em;
        padding-top: 3em;
        padding-bottom: 5em;
        background-color: #D3E3D6;
        overflow: hidden;
    }
    
    .tinder-match-img {
        margin-top: -1em;
        margin-left: 0em;
        width: 25em;
        z-index: 1;
    }
    
    .tinder-match-heart {
        margin-top: 0;
        width: 5em;
    }

    .tinder-match-texto-container {
        margin-top: 1em;
        margin-left: 0em;
    }
    
    .tinder-match-texto {
        margin-top: 0;
        font-size: 1.2em;
        text-align: center;
        width: 25vw;
    }
    
    .tinder-match-title {
        margin-top: 0.5em;
        line-height: 1;
        font-family: 'Moonlight';
        font-size: 4em;
    }
    
    .tinder-match-title > span {
        font-family: 'Moonlight';
        color: white;
    }
    
    .tinder-match-circle {
        position: absolute;
        border-radius: 500px;
        height: 450px;
        width: 450px;
        background-color: #EB566A;
        top: 3.7em;
        right: 14.5em;
    }
    
    .tinder-match-botones {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: 7em;
        left: 17.5em;
    }
    
    .boton-conoce {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 0.5em 0.1em 0.5em 0.1em;
        width: 12em;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50px;
        border: 5px solid white;
        margin-top: 1em;
    }

    .tinder-match-moonlight {
        font-family: 'Moonlight';
        font-size: 3em;
        line-height: 1;
    }
    
    .tinder-match-monster-name {
        font-size: 1em;
    }
    
    .tinder-match-text-bundle {
        position: absolute;
        text-align: center;
        bottom: 8em;
        right: 20em;
    }

    .tinder-match-footer {
        position: absolute;
        width: 100vw;
        bottom: 0;
        height: 5em;
        padding-bottom: 4.5em;
    }
}