.tinder-start-screen {
    background: linear-gradient(106deg, #d3e3d6 50%, #EFC5BA 50%);
    height: 100vh;
}

.tinder-start-screen-logo {
    margin-top: 1.5em;
    width: 125px;
}

.tinder-start-screen-moonlight {
    font-size: 79px;
    color: black;
}

.tinder-start-screen-subtitle {
    font-size: 24px;
}

.burbuja-corazon {
    width: 100px;
    position: absolute;
    left: 9em;
    margin-top: 1.5em;
}

.tinder-start-screen-persona {
    width: 90px;
    object-fit: contain;
    margin-left: 5em;
    margin-top: 8.5em;
}

.tinder-start-screen-monstruo {
    width: 160px;
    object-fit: contain;
    margin-left: 1.5em;
    margin-top: 7.5em;
}

@media only screen and (max-width: 376px) and (max-height: 667px) {
    .tinder-start-screen {
        background: linear-gradient(106deg, #d3e3d6 50%, #EFC5BA 50%);
        height: 100vh;
    }
    
    .tinder-start-screen-logo {
        margin-top: 1.5em;
        width: 100px;
    }
    
    .tinder-start-screen-moonlight {
        font-size: 52px;
        color: black;
    }
    
    .tinder-start-screen-subtitle {
        font-size: 18px;
    }
    
    .burbuja-corazon {
        width: 65px;
        position: absolute;
        margin-top: 0.5em;
        left: 9em;
    }

    .tinder-start-screen-persona {
        width: 65px;
        object-fit: contain;
        margin-left: 5em;
        margin-top: 4.5em;
    }
    
    .tinder-start-screen-monstruo {
        width: 120px;
        object-fit: contain;
        margin-left: 1.5em;
        margin-top: 3.5em;
    }
}

@media only screen and (max-width: 393px) and (min-height: 740px) {
    .tinder-start-screen {
        background: linear-gradient(106deg, #d3e3d6 50%, #EFC5BA 50%);
        height: 100vh;
    }
    
    .tinder-start-screen-logo {
        margin-top: 1.5em;
        width: 150px;
    }
    
    .tinder-start-screen-moonlight {
        font-size: 52px;
        color: black;
    }
    
    .tinder-start-screen-subtitle {
        font-size: 18px;
    }
    
    .burbuja-corazon {
        width: 65px;
        position: absolute;
        margin-top: 0.5em;
        left: 10em;
    }

    .tinder-start-screen-persona {
        width: 90px;
        object-fit: contain;
        margin-left: 5em;
        margin-top: 4.5em;
    }
    
    .tinder-start-screen-monstruo {
        width: 160px;
        object-fit: contain;
        margin-left: 1.5em;
        margin-top: 3.5em;
    }
}

/*galaxy s8+ */
@media only screen and (max-width: 360px){
    .tinder-start-screen {
        background: linear-gradient(106deg, #d3e3d6 50%, #EFC5BA 50%);
        height: 100vh;
    }
    
    .tinder-start-screen-logo {
        margin-top: 1.5em;
        width: 100px;
    }
    
    .tinder-start-screen-moonlight {
        font-size: 52px;
        color: black;
    }
    
    .tinder-start-screen-subtitle {
        font-size: 18px;
    }
    
    .burbuja-corazon {
        width: 65px;
        position: absolute;
        margin-top: 0.5em;
        left: 9em;
    }

    .tinder-start-screen-persona {
        width: 75px;
        object-fit: contain;
        margin-left: 5em;
        margin-top: 4.5em;
    }
    
    .tinder-start-screen-monstruo {
        width: 140px;
        object-fit: contain;
        margin-left: 1.5em;
        margin-top: 3.5em;
    }
}