.tinder-start-screen {
    background: linear-gradient(106deg, #d3e3d6 50%, #EFC5BA 50%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tinder-start-screen-logo {
    margin-top: 1.5em;
    width: 7em;
}

.tinder-start-screen-moonlight {
    font-size: 4em;
    color: black;
}

.tinder-start-screen-subtitle {
    font-size: 1.5em;
}

.tinder-start-screen-img-container {
    margin-top: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    height: 55vh;
}

.burbuja-corazon {
    width: 7em;
    position: absolute;
}

.tinder-start-screen-persona {
    position: absolute;
    width: 15em;
    object-fit: contain;
    top: 6em;
    left: 4em;
}

.tinder-start-screen-monstruo {
    position: absolute;
    top: 6em;
    right: 3em;
    width: 11em;
    object-fit: contain;
}

.bats {
    position: absolute;
    width: 15em;
    left: -4em;
    top: -4em;
}

.hearts {
    position: absolute;
    width: 13em;
    right: -3em;
    top: -15em;
}


@media only screen and (max-width: 376px) {
    .tinder-start-screen-subtitle {
        font-size: 1.2em;
    }

    .burbuja-corazon {
        width: 4em;
        position: absolute;
    }
    
    .tinder-start-screen-persona {
        position: absolute;
        width: 10em;
        object-fit: contain;
        top: 4em;
        left: 5em;
    }
    
    .tinder-start-screen-monstruo {
        position: absolute;
        top: 4em;
        right: 6em;
        width: 7em;
        object-fit: contain;
    }

    .tinder-start-screen-img-container {
        margin-top: 1em;
        position: relative;
        display: flex;
        justify-content: center;
        height: 45vh;
    }
}