body{
    background-color: rgb(27, 33, 61);
    color: white;
    background-image: url('/src/assets/textura-monstruos-06.png');
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: white;
}

a:hov {
    color: white;
}